/*
  =================
  General
  =================
*/
body {
  margin: 0;
  background-color: #a1f0b4;
}

/*
  =================
  Home page Slider
  =================
*/

.slider_wrapper {
  height: 500px;
  overflow: hidden;
}

.slider_image {
  background-size: cover !important;
}

/*
  =================
  Green India Clean India Homepage
  =================
*/

.green_image {
  flex-grow: 1;
  margin-left: 70px;
  min-width: 580px;
}

.green_content {
  flex-grow: 1;
}

.green_wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.green_typing {
  margin-right: 100px;
  margin-left: 100px;
  font-family: "Lobster", cursive;
  font-size: 30px;
  color: #2aa146;
}

/*
  =================
  Discounts Homepage
  =================
*/

.offer_wrapper {
  margin-top: 50px;
}

.offer_header {
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 60px;
  color: #00751c;
}

.offer_content {
  line-height: 5em;
  text-align: center;
  text-decoration: none;
}

.offer_content ul {
  list-style-type: none;
  margin: 0 0;
  padding-left: 0px;
}

.offer_content ul li.even {
  background-color: #63ea83;
}

.offer_content ul li.odd {
  background-color: #98ffb0;
}

.offer_content ul li a {
  font-size: 30px;
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  display: inline-block;
  transition: all 0.3s;
}

.offer_content ul li a:hover {
  color: #009d33;
  background: #6bff8d;
  transition: all 0.3s;
}

/*
  =================
  Deals of the day home page
  =================
*/

.deal_wrapper {
  min-height: 300px;
  margin-top: 60px;
  display: flex;
}

.deal_content {
  width: 50%;
  float: left;
  display: flex;
  justify-content: space-around;
  line-height: 5em;
  text-align: center;
  text-decoration: none;
}

.deal_image {
  width: 50%;
  float: right;
  text-align: center;
}

.img {
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.deal_content ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0px;
  margin: 0 0;
  width: 100%;
  text-align: center;
}

.deal_content ul li {
  flex: 4;
  font-size: 25px;
}

.deal_content ul li.even {
  background-color: #98ffb0;
}

.deal_content ul li.odd {
  background-color: #63ea83;
}

.deal_content ul li a {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.deal_content ul li a:hover {
  color: #009d33;
  transition: all 0.3s;
}
